<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Experiencia</servlet-name>
        <servlet-class>controlador.Experiencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administrativa</servlet-name>
        <servlet-class>controlador.administrativa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexControl</servlet-name>
        <servlet-class>controlador.IndexControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaDoc</servlet-name>
        <servlet-class>controlador.CategoriaDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Idioma</servlet-name>
        <servlet-class>controlador.Idioma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tic</servlet-name>
        <servlet-class>controlador.Tic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Asesoria</servlet-name>
        <servlet-class>controlador.Asesoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Investigacion</servlet-name>
        <servlet-class>controlador.Investigacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubliArt</servlet-name>
        <servlet-class>controlador.PubliArt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubliLibro</servlet-name>
        <servlet-class>controlador.PubliLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapacitacionFormal</servlet-name>
        <servlet-class>controlador.CapacitacionFormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursosEventos</servlet-name>
        <servlet-class>controlador.CursosEventos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prec</servlet-name>
        <servlet-class>controlador.Prec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prog</servlet-name>
        <servlet-class>controlador.Prog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Psocial</servlet-name>
        <servlet-class>controlador.Psocial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Experiencia</servlet-name>
        <url-pattern>/exp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrativa</servlet-name>
        <url-pattern>/adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexControl</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaDoc</servlet-name>
        <url-pattern>/cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Idioma</servlet-name>
        <url-pattern>/idio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tic</servlet-name>
        <url-pattern>/tic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Asesoria</servlet-name>
        <url-pattern>/Ase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Investigacion</servlet-name>
        <url-pattern>/Inv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubliArt</servlet-name>
        <url-pattern>/publi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubliLibro</servlet-name>
        <url-pattern>/Libro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapacitacionFormal</servlet-name>
        <url-pattern>/Cap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursosEventos</servlet-name>
        <url-pattern>/cursoseven</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prec</servlet-name>
        <url-pattern>/Prec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prog</servlet-name>
        <url-pattern>/Prog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Psocial</servlet-name>
        <url-pattern>/Psocial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
